*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

body{
background: url('../image/images5.jpg');
}

.outer{
height: 100%;

/* background-color: rgba(245,245,245,0.9); */
background-color: rgb(108, 181, 255);

position: relative;
margin-bottom: 50px;
}




.desk-menu {
clear: right;
position: absolute;
left: -20px;
top: 50px;
}

.aside{

height: 100%;
width: 90%;
margin: 0 auto;
margin-bottom: 60px;
}

.nav-pills > li > a {
    border-radius: 0;
}

.nav > li > a{


/*background: -moz-linear-gradient(right, rgb(61, 183, 40) 0%, rgba(61, 183, 40, 0.7) 50%, rgba(51, 153, 255, 0.7) 50%, rgb(51, 153, 255) 100%);*/
background: linear-gradient(right, rgb(255, 153, 0) 0%, rgba(255, 153, 0, 0.4) 50%, rgb(255, 153, 0) 50%, rgb(255, 153, 0) 100%);
background: -webkit-linear-gradient(right, rgb(255, 153, 0) 0%, rgba(255, 153, 0, 0.4) 50%, rgb(255, 153, 0) 50%, rgb(255, 153, 0) 100%);
/* background: -moz-linear-gradient(right, rgb(51, 153, 255) 0%, rgba(51, 153, 255, 0.4) 50%, rgb(51, 153, 255) 50%, rgb(51, 153, 255) 100%); */
background: -moz-linear-gradient(right, rgb(255, 153, 0) 0%, rgba(255, 153, 0, 0.4) 50%, rgb(255, 153, 0) 50%, rgb(255, 153, 0) 100%);
background: -ms-linear-gradient(right, rgb(255, 153, 0) 0%, rgba(255, 153, 0, 0.4) 50%, rgb(255, 153, 0) 50%, rgb(255, 153, 0) 100%);
background-size: 200% 100%;
text-decoration: none;
transition: all 1s linear;
-moz-transition: all 1s linear;
}

.fn-color-wh, .nav > li > a{
color: white;
}



.nav > li {
margin-bottom: 15px;
}

.nav > li > a:focus, .nav > li > a:hover{
background-position: 100%;
}

/* Chrome, Safari, Opera 
@-moz-keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}

/* Standard syntax 
@keyframes example {
    0%   {background-color:red;}
    25%  {background-color:yellow;}
    50%  {background-color:blue;}
    75%  {background-color:green;}
    100% {background-color:red;}
}*/

/*.desk-menu li{
display: block;
list-style-type: none;
background-color: #006666;
color: white;
font-size: 18px;
font-family: arial san-sarif;
padding: 5px;
margin: 10px;
}


.desk-menu a {
text-decoration: none;
color: white;

}*/

.desk-menu .nav > li:before { 
    content: "";
     border-bottom: 20px solid black; 
     border-left: 20px solid transparent;
    display: block;
    height: 0;
    width: 0;
   left: 0;
    top: 0;
    position: relative;
}

.fn-sz{
font-size: 18px;
}

#about-me, #education, #portfolio, #contact{
/* background-color: rgb(0,188,212); */
min-height: 100%;


}

 #skill-set{
/* background-color: rgb(0,188,212); */
min-height: 500px;
min-width: 250px;
 }


.mg-auto-775{
width: 775px;
margin: 0 auto;
}

.ln-ht{
line-height: 50px;
}

.pd-top-35{
padding-top: 35px;
}

.pd-40{
padding: 40px;
}

.pd-25{
padding: 25px;
}

.pd-lf-20{
padding-left: 20px;
}

.mg-top-50{
margin-top: 50px;
}

.mg-rg-20{
margin-right: 20px;
}

.wd-400{
width: 400px;	
}

.wd-300{
width: 300px;
}

.wd-30p{
width: 30%;
}
.wd-50p{
width: 50%;	
}


.foot{
background-color: rgba(122,185,248,0.9);
min-height: 25px;
 position: fixed;
   
    bottom: 0;
    width: 100%;
}

.bd-rd-20{
border-radius: 20px;
}

.ver-alg{
display: table-cell;
vertical-align: middle;
}

.dp-nn{
display: none;
}


.education {
    margin: 20px 0;
    padding: 100px 0;
}

#education h2{
margin-top: 0;
}

.education .item {
    color: #232323;
    float: left;
    position: relative;
    text-align: center;
    width: 30%;
}

.education .item .content {
    background: none repeat scroll 0 0 #DCDCDB;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    left: 0;
    margin: 0 12px;
    padding: 5px;
    position: absolute;
    right: 0;
    top: -90px;
}
.education .item .content::after {
    border-color: transparent transparent transparent #fff;
    border-style: solid;
    border-width: 18px 0 0 18px;
    bottom: -9px;
    box-shadow: -2px 2px 4px rgba(0, 0, 0, 0.15);
    content: "";
    height: 0;
    left: 50%;
    margin-left: -9px;
    position: absolute;
    transform: rotate(-45deg);
    width: 0;
}

.education .item .marker {
    background: none repeat scroll 0 0 #fff;
    border: 6px solid #7c4dff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    height: 22px;
    left: 50%;
    margin-left: -11px;
    position: absolute;
    top: 0;
    width: 22px;
    z-index: 2;
}

.education .item .content span {
    font-size: 13px;
    line-height: 26px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.sections {
    word-wrap: break-word;
}

.education .item .year {
    bottom: -44px;
    font-size: 16px;
    font-weight: 700;
    left: 0;
    line-height: 26px;
    margin: 0 auto;
    position: relative;
    right: 0;
}

.education .line::before {
    background: none repeat scroll 0 0 #fff;
    border: 4px solid #7c4dff;
    border-radius: 100%;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    left: -18px;
    position: absolute;
    width: 14px;
}

.education .line::after {
    background: none repeat scroll 0 0 #fff;
    border: 4px solid #7c4dff;
    border-radius: 100%;
    bottom: -7px;
    content: "";
    display: block;
    height: 14px;
    position: absolute;
    right: -18px;
    width: 14px;
}

.education .line {
    border-bottom: 2px dashed #232323;
    margin: 0 18px 24px;
    padding-bottom: 12px;
    position: relative;
    top: -1px;
}

.education .item:nth-child(2n) .content::after {
    border-color: transparent #fff transparent transparent;
    border-width: 0 18px 18px 0;
    bottom: auto;
    box-shadow: none;
    position: absolute;
    top: -9px;
	
	}
	
	
	.education .item:nth-child(2n) .content {
    bottom: -86px;
    top: auto;
}

.education .item:nth-child(2n) .year {
    bottom: auto;
    top: -44px;
}

.icon-box {
    margin: 12px 0;
    text-align: center;
}

.icon-box .icon {
    background: none repeat scroll 0 0 #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25);
    color: #232323;
    display: inline-block;
    font-size: 38px;
    height: 90px;
    line-height: 100px;
    margin-bottom: 24px;
    transition: all 0.25s ease 0s;
    width: 90px;
}

.icon-box h6 {
    line-height: 12px;
    margin-bottom: 0;
	font-size: 14px;
    
    line-height: 20px;
	text-transform: uppercase;
}


.icon-box:hover .icon {
    background: none repeat scroll 0 0 #7c4dff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    color: #fff;
}


@media all and (max-width: 992px) {

#about-me, #education, #portfolio, #contact{
background-color: rgb(0,188,212);



}

 #skill-set{
background-color: rgb(0,188,212);
/* min-height: 500px;
min-width: 250px; */
 }
.aside {
    height: 100%;
    margin: 0 auto 50px;
	width: 100%;
	
}
.education {
    margin: 18px 0 42px;
    padding: 0;
    position: relative;
}
.education .item {
    float: none;
    margin-bottom: 24px;
    width: 100%;
}
.education .item:last-of-type {
    margin-bottom: 0;
}
.education .item .content {
    position: static;
}
.education .line {
    border-bottom: medium none;
    border-left: 1px dashed #232323;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 1px;
}
.education .line::before {
    bottom: -7px;
    left: -7px;
    top: -18px;
}
.education .line::after {
    bottom: -18px;
    left: -7px;
    right: auto;
}
.education .item .content {
    margin: 0 0 0 36px;
    padding: 24px;
    position: static;
}
.education .item .marker {
    left: 0;
    margin-left: -11px;
    margin-top: -27px;
    position: absolute;
    top: 50%;
}
.education .item .content::after {
    border-color: transparent transparent transparent #fff;
    border-width: 18px 0 0 18px;
    bottom: auto;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.15);
    left: 36px;
    margin-top: -25px;
    top: 50%;
    transform: rotate(45deg);
}
.education .item:nth-child(2n) .content::after {
    border-color: transparent transparent transparent #fff;
    border-width: 18px 0 0 18px;
    bottom: auto;
    box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.15);
    left: 36px;
    margin-top: -25px;
    top: 50%;
    transform: rotate(45deg);
}
.education .item .year {
    margin: 6px auto 0;
    padding-left: 36px;
    position: static;
}

.icon-box h6 {
    font-size: 12px;
    
    line-height: 15px;
    margin-bottom: 0;
    text-transform: uppercase;
    
}
.icon-box .icon {
    display: inline-block;
    font-size: 32px;
    height: 80px;
    line-height: 80px;
    margin-bottom: 15px;
    transition: all 0.25s ease 0s;
    width: 80px;
} 
}

.panel a > .panel-heading{
background-color: rgb(245,245,245);

}

.panel a > .panel-heading:hover{
background-color: rgb(255, 204, 102);
color: white;
}




.panel a:hover{
text-decoration: none;
}

.mob-menu ul li {
margin-bottom: 2px;

}

.contact-form .card-panel {
    margin: 0;
}
.grey.lighten-5 {
    background-color: #fafafa !important;
}
.clearfix {
}
.card-panel {
    background-clip: padding-box;
    background-color: #fff;
    border-radius: 2px;
    margin: 0.5rem 0 1rem;
    padding: 20px;
}

.contact-form .input-field {
    margin-bottom: 20px;
    margin-top: 0;
}
.input-field {
    margin-top: 1rem;
    position: relative;
}

.contact-form .materialize-textarea, .contact-form .input-box {
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 0 #fff;
    color: #444444;
    font-size: 15px;
    height: 50px;
    margin-bottom: 0;
}


.contact-form .materialize-textarea, .contact-form .input-box {
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 0 #fff;
    color: #444444;
    font-size: 15px;
    height: 50px;
    margin-bottom: 0;
}
textarea.materialize-textarea {
    overflow-y: hidden;
    padding: 1.6rem 0;
    resize: none;
}
input[type="text"], input[type="password"], input[type="email"], input[type="url"], input[type="date"], input[type="tel"], input[type="number"], input[type="search"], textarea.materialize-textarea {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: transparent;
    border-color: -moz-use-text-color -moz-use-text-color #9e9e9e;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    box-shadow: none;
    box-sizing: content-box;
    font-size: 1rem;
    height: 3rem;
    margin: 0 0 15px;
    outline: medium none;
    padding: 0;
    transition: all 0.3s ease 0s;
    width: 100%;
}


.contact-form .submit-wrap {
    margin-bottom: 0;
}

.left {
    float: left !important;
}
.contact-form .submit-btn {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0 15px 0 0;
}
.brand-text {
    color: #00bcd4 !important;
}
.waves-effect {
    -moz-user-select: none;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-out 0s;
    will-change: opacity, transform;
    z-index: 1;
}
.btn-flat {
    background-color: transparent;
    box-shadow: none;
    color: #343434;
    cursor: pointer;
}
.btn, .btn-large, .btn-flat {
    background-clip: padding-box;
    border: medium none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    margin-bottom: 15px;
    outline: 0 none;
    padding: 0 2rem;
    text-transform: uppercase;
}

.right {
    float: right !important;
}

.form-loader-area {
    display: none;
    margin-top: 9px;
}
.circular.size-20 {
    height: 20px;
    width: 20px;
}

svg:not(:root) {
    overflow: hidden;
}

.circular {
    animation: 2s linear 0s normal none infinite running rotate;
    height: 40px;
    width: 40px;
}

.contact-form .submit-btn:hover, .contact-form .submit-btn:focus {
    color: #fff !important;
    padding-left: 15px;
}

#gmaps {
    border-radius: 3px;
    height: 474px;
	
    width: 100%;
}
#gmaps * {
    color: #727272;
    font-size: 13px;
}
#gmaps img {
    max-width: inherit;
}
.contact-info {
    display: block;
    padding: 8px 0;
}
.contact-info li {
    border-right: 1px solid #fff;
    float: left;
    margin-right: 10px;
    padding-right: 10px;
}
.contact-info li a {
    color: #fff;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 14px;
}
.contact-info li:last-child {
    border-right: medium none;
    box-shadow: none;
}
.contact-form .input-field {
    margin-bottom: 20px;
    margin-top: 0;
}
.contact-form .card-panel {
    margin: 0;
}


.contact-form .materialize-textarea, .contact-form .input-box {
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 0 #fff;
    color: #444444;
    font-size: 15px;
    height: 40px;
    margin-bottom: 0;
	padding-top: 10px;
}
.contact-form .materialize-textarea {
    height: 127px !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 35px;
}

.contact-form .submit-btn {
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 0 15px 0 0;
}
.contact-form .submit-wrap {
    margin-bottom: 0;
}
.contact-form .submit-btn:hover, .contact-form .submit-btn:focus {
    color: #fff !important;
    padding-left: 15px;
}
.form-loader-area {
    display: none;
    margin-top: 9px;
}
#message-success {
    display: none;
    position: absolute;
    right: 0;
}
#message-success p {
    color: #4caf50;
    font-size: 14px;
}
.sweet-alert button {
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}

.contact-form .materialize-textarea:focus, .contact-form .input-box:focus {
    border-color: #00bcd4;
    box-shadow: 0 1px 0 #00bcd4;
}

.contact-form .submit-btn:hover, .contact-form .submit-btn:focus {
    background-color: #00bcd4;
}


.circle-loader .path {
    stroke: #00bcd4;
}

.waves-effect.waves-brand {
    background-color: rgba(0, 188, 212, 0.66);
}

.input-field.textarea-input label {
    bottom: auto;
    top: 15px;
}


.contact-form .input-label {
    color: #bbbbbb;
    font-size: 15px;
    left: 0;
	font-weight: normal;
}

.input-field label {
    color: #9e9e9e;
    cursor: text;
    font-size: 1rem;
    left: 0.75rem;
    position: absolute;
    top: 0;
    transition: all 0.2s ease-out 0s;
}

.contact-form:active .input-label {
    color: #727272 !important;
}
.input-field:active  label{
    font-size: 10px;
    transform: translateY(-130%);
}
.textarea-input:active label {
    bottom: auto;
    top: 15px;
}

.contact-form .submit-btn:hover, .contact-form .submit-btn:focus {
    background-color: #00bcd4;
}
.contact-form .materialize-textarea:focus, .contact-form .input-box:focus {
    border-color: #00bcd4;
    box-shadow: 0 1px 0 #00bcd4;
}

.input-field input.ng-dirty.ng-invalid[type="text"], .input-field input.ng-dirty.ng-invalid[type="password"], .input-field input.ng-dirty.ng-invalid[type="email"],
 .input-field input.ng-dirty.ng-invalid[type="url"], .input-field input.ng-dirty.ng-invalid[type="date"], .input-field input.ng-dirty.ng-invalid[type="tel"],
 .input-field input.ng-dirty.ng-invalid[type="number"], .input-field input.ng-dirty.ng-invalid[type="search"],
 .input-field textarea.materialize-textarea.ng-dirty.ng-invalid{
    border-bottom: 1px solid #f44336;
    box-shadow: 0 1px 0 0 #f44336;
}
.input-field input.ng-dirty.ng-valid[type="text"], .input-field input.ng-dirty.ng-valid[type="password"], .input-field input.ng-dirty.ng-valid[type="email"],
 .input-field input.ng-dirty.ng-valid[type="url"], .input-field input.ng-dirty.ng-valid[type="date"], .input-field input.ng-dirty.ng-valid[type="tel"],
 .input-field input.ng-dirty.ng-valid[type="number"], .input-field input.ng-dirty.ng-valid[type="search"],
 .input-field textarea.materialize-textarea.ng-dirty.ng-valid {
    border-bottom: 1px solid #4caf50;
    box-shadow: 0 1px 0 0 #4caf50;
}


@media all and (max-width: 768px) {
.pd-40{
padding: 10px;
}

.pd-25{
padding: 5px;
}

#gmaps {
    border-radius: 3px;
    height: 200px;
    width: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
}
.outer{
background-color: rgba(245,245,245,0.8);
} 
.contact-form .materialize-textarea, .contact-form .input-box {
    border-bottom: 1px solid #ececec;
    box-shadow: 0 1px 0 #fff;
    color: #444444;
    font-size: 12px;
    height: 26px;
    margin-bottom: 0;
    
}
.contact-form .materialize-textarea {
    height: 80px !important;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 30px;
}

}