<div id="education">
	<section>
		<div class="clearfix pd-25">
				<h2>Educational Value</h2>
						<div class="education clearfix">
							<div class="item">
								<div class="marker"></div>
								<div class="content">
									<span>Mumbai University</span>
									<h5>Bachelor Of Engineering (I.T.)</h5>
								</div>
								<div class="year">2008</div>
							</div> 
							<div class="item">
								<div class="marker"></div>
								<div class="content">
									<span>Maharashtra Board</span>
									<h5>Higher Secondary Certificate</h5>
								</div>
								<div class="year">2003</div>
							</div> 
							<div class="item">
								<div class="marker"></div>
								<div class="content">
									<span>Maharashtra Board</span>
									<h5>Secondary School Certificate</h5>
								</div>
								<div class="year">2001</div>
							</div> 
							<!-- <div class="item">
								<div class="marker"></div>
								<div class="content">
									<span>University Of Design</span>
									<h5>Master Degree of Design</h5>
								</div>
								<div class="year">2005 - 2006</div>
							</div>  -->
							<div class="line"></div>
						</div> 

						<h2>Hobbies &amp; Interest</h2>
						<div class="row">
							<div class="col-sm-2 col-sm-offset-1 col-xs-6">
								<div class="icon-box">
									<div class="icon"><i class="glyphicon glyphicon-book"></i></div>
									<h6>Reading</h6>
								</div> <!-- end .icon-box -->
							</div> <!-- end .col-sm-2 -->
							<div class="col-sm-2 col-xs-6">
								<div class="icon-box">
									<div class="icon"><span class="glyphicon glyphicon-education"></span></div>
									<h6>Learning New Technologies</h6>
								</div> <!-- end .icon-box -->
							</div> <!-- end .col-sm-2 -->
							<div class="col-sm-2 col-xs-6">
								<div class="icon-box">
									<div class="icon"><i class="glyphicon glyphicon-cutlery"></i></div>
									<h6>Cooking</h6>
								</div> <!-- end .icon-box -->
							</div> <!-- end .col-sm-2 -->
							<div class="col-sm-2 col-xs-6">
								<div class="icon-box">
									<div class="icon"><i class="glyphicon glyphicon-road"></i></div>
									<h6>Bike Riding</h6>
								</div> <!-- end .icon-box -->
							</div> <!-- end .col-sm-2 -->
							<div class="col-sm-2 col-xs-6">
								<div class="icon-box">
									<div class="icon"><i class="glyphicon glyphicon-music"></i></div>
									<h6>Music</h6>
								</div> <!-- end .icon-box -->
							</div> <!-- end .col-sm-2 -->
						</div> <!-- end .row -->
					<!-- end .container -->
				
				
		</div>
	</section>
</div>