<div id="about-me">
	<section>
		<div class="row pd-25">
			<div class="col-md-5">
				<img class="img-circle mg-rg-20 hidden-xs scroll-animate left" src="image/Rakesh.jpg" alt="It's Me"/>
				<div align="center"><img class="img-circle visible-xs-block" src="image/me-shri.jpg" alt="It's Me"/></div>
			</div>
			<div class="col-md-6">
				<div class="text-left">
					<p class="h2 hidden-xs">My Story</p>
					<p class="h2 text-center visible-xs-block">My Story</p>
					<p>Hello, I am Rakesh Yadav a Front End Developer from Mumbai, India.</p>
					<p>I hold a bachelor degree in Information Technology (B.E.I.T) from Mumbai University, Maharashtra.</p>
					<p>9+ yrs of successful experience in web domain with Native JavaScript, Object Oriented JavaScript, AngularJS, Angular2, Node.js, JQuery, Bootstrap, Ajax, JSON, HTML4.0/5, CSS2/3 and Responsive Designing skill set</p>
				</div>
				<div class="table-responsive">
					<p class="h2 text-left scroll-animate">Personal Information</p>
					<table class="table scroll-animate">
						<tbody>
							<tr>
								<th>Name:</th>
								<td>Rakesh Yadav</td>
							</tr>
							<tr>
								<th>Age:</th>
								<td>30Yrs</td>
							</tr>
							<tr>
								<th>Email:</th>
								<td>Rakeshsyadav@hotmail.com</td>
							</tr>
							<tr>
								<th>Contact No.:</th>
								<td>+91-9833660289</td>
							</tr>
							<tr>
								<th>Address:</th>
								<td>Mumbai, Maharashtra, India.</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</section>
</div>
    
